@page "/favorites"
@inject HttpClient Http
@using TicketToCode.Core.Enums
@using TicketToCode.Core.Models
@using TicketToCode.Core.Services
@using TicketToCode.Blazor.Components
@inject FavoriteService FavoriteService
@inject NavigationManager NavigationManager

<PageTitle>Favorites</PageTitle>

<h1>Your Favorite Recipes</h1>

@if (isLoading)
{
    <p>Loading...</p>
}
else if (favorites.Count == 0)
{
    <p>No recipes available.</p>
}
else
{
    <div class="card-container">
        @foreach (var recipe in favorites)
        {
            <div class="card">
                <div class="card-header">
                    <h2><a href="/recipe/@recipe.Id">@recipe.Name</a></h2>
                </div>
                <div class="card-body">
                   <RecipeDetail Id="@recipe.Id" ShowName="false" ShowDescription="true" ShowIngredients="false" ShowInstructions="false" ShowCategory="false" ShowFavoriteButton="false"/>
                </div>
            </div>
        }
    </div>
}

@code {

    private bool isLoading = true;
    private List<FavoriteService.RecipeDto> favorites = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadFavorites();
    }

    private async Task LoadFavorites()
    {
        isLoading = true;
        favorites = await FavoriteService.GetFavoritesAsync();
        isLoading = false;
    }

    private void ViewRecipe(int id)
    {
        NavigationManager.NavigateTo($"/recipe/{id}");
    }

    private async Task RemoveFromFavorites(int id)
    {
        await FavoriteService.ToggleFavoriteAsync(id);
        await LoadFavorites();
    }



}