@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to TicketToCook</h1>

Find your favorite recipes and start cooking! You can create shopping lists and meal plans for the week.

<br />
<section class="hp-img-container">
<img class="hp-img" src="img/HomePageIMG.jpg" alt="FOOD FOR EVERYONE" />
</section>
<section> 

<h2>Some of our favorite recipes</h2>




</section>
