@page "/login"
@inject HttpClient Http

<h3>Login</h3>

<div>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="text-danger">@errorMessage</p>
    }
    
</div>

<div>
    <input type="text" @bind="Username" placeholder="Username" />
    <input type="password" @bind="Password" placeholder="Password" />
    <button class="btn btn-primary" @onclick="UserLogin">Log in</button>
    <p>@successMessage</p>
</div>

@code {
    private string Username { get; set; } = "";
    private string Password { get; set; } = "";
    private string? errorMessage;
    private string? successMessage;

    private async Task UserLogin()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("https://localhost:5001/auth/login", new { Username, Password });

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<Response>();
                successMessage = $"Welcome {result.Username}";
                errorMessage = null;
            }
            else
            {
                errorMessage = "Invalid username or password.";
                successMessage = null;
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error: {ex.Message}";
        }
    }

    public record Response(string Username, string Role);
}