@page "/myaccount"
@using TicketToCode.Core.Services
@* @using TicketToCode.Core.Services *@
@inject FrontendAuthService FrontendAuthService
@inject NavigationManager Nav



<PageTitle>My Account</PageTitle>

<h1>My Account</h1>

@if (isLoading)
{
	<p><em>Loading...</em> </p>
}
else if (profile == null)
{
	<div>
		You are not logged in. Please <a href="login">login</a> to view your profile.
	</div>
}
else
{
	<div class="card">
		<div class="card-header">
			Profile information
		</div>
		<div class="card-body">
			<h5 class="card-title">Welcome @profile.Username!</h5>
			<p class="card-text">Your role: @profile.Role</p>
			<p class="card-text">@profile.Message</p>

			<button @onclick="Logout">Logout</button>

		</div>

	</div>
}



@code {
	private bool isLoading = true;
	private FrontendAuthService.UserProfile? profile;

	private async Task Logout()
	{
		await FrontendAuthService.Logout();
		Nav.NavigateTo("/login");
	}

	protected override async Task OnInitializedAsync()
	{
		try
		{
			profile = await FrontendAuthService.GetUserProfile();
		}
		catch
		{
			profile = null;
		}
		finally
		{
			isLoading = false;
		}
	}

}
