@page "/shoppinglist"
@inject TicketToCode.Core.Services.ShoppingListService ShoppingListService
@using TicketToCode.Core.Models;




<PageTitle>Shopping List</PageTitle>

<div class="shopping-list-container">
    <h3 class="shopping-list-header">Shopping List</h3>
    @if (ShoppingListService.ShoppingList.Count == 0)
    {
        <p class="empty-message">Your shopping list is empty.</p>
    }
    else
    {
        <ul class="shopping-list">
            @foreach (var ingredient in ShoppingListService.ShoppingList)
            {
                <li>@ingredient.Quantity @ingredient.Ingredient.Unit @ingredient.Ingredient.Name
                    <button @onclick="() => EditShoppingListQuantity(ingredient)">Edit Quantity</button>
                </li>
                

               
            }
        </ul>
    }
</div>


@code {
    private void EditShoppingListQuantity(RecipeIngredient quantity)
    {
       ShoppingListService.EditShoppingListQuantity(quantity);
    }

   
}