.page {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh; /* 100% of the viewport height */
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}