@inherits LayoutComponentBase
@inject TicketToCode.Core.Services.NavState NavState

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="page-content">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        NavState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        NavState.OnChange -= StateHasChanged;
    }
}
