<div class="navbar">
    <div class="container-nav">
       <p class="navtitle"> Ticket To Cook </p>

        <button class="navmenubutton" @onclick="ToggleNavMenu">Menu</button>

        <div class="navcollapsed">         

            <div class="@NavMenuCssClass navmenu" @onclick="ToggleNavMenu">
            <NavLink class="nav-link px-3" href="/">Home</NavLink>
            <NavLink class="nav-link px-3" href="myaccount">My Account</NavLink>
            <NavLink class="nav-link px-3" href="recipes">Recipes</NavLink>
            <NavLink class="nav-link px-3" href="login">Login</NavLink>
            </div>

        </div>
    </div>
</div>





@code {

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null ;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
  
}
