
.navmenubutton {
    background-color: deeppink;
    padding: 5px;
    margin: 5px;
  }

.nav-title {
    font-size: 1.1rem;
    text-decoration: none;
    color:deeppink;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: deeppink;
}



@media (min-width: 641px) {
   .navmenubutton {
       display: none;
   }
   .collapse {
       display: flex;
       justify-content:space-around;
       width: 641px;
   }
   
}

@media (max-width: 640px) {
   .collapse {
       display:none
   }
}

